$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);


@mixin screen($key) {
    $breakpoint: map-get($grid-breakpoints, $key);

    @if ($breakpoint) {
        @media (max-width: ($breakpoint - .02)) {
            @content;
        }
    }

    @else {
        @error "The value #{$key} is not in breakpoints list.";
    }
}

$breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);
$display-values: block, flex, grid, none;

@mixin make-display($breakpoint: null) {
    $infix: if($breakpoint, "-#{$breakpoint}", "");

    @each $display in $display-values {
        .d#{$infix}-#{$display} {
            display: $display !important;
        }
    }
}

@include make-display();

@each $breakpoint, $dimension in $breakpoints {
    @media (max-width: ($dimension - .02)) {
        @include make-display($breakpoint);
    }
}

:root {
    --primary-color: #FC5A5A;
    --text-color: #B0B0B0;

    --top-bar-heigth: calc(var(--top-bar-padding) * 2 + var(--act-heigth));
    --top-bar-padding: 30px;
    --act-heigth: 42px;
    --hero-width-icon: 264px;

    @include screen(md) {
        --act-heigth: 30px;
        --hero-width-icon: 195px;
    }
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    background-color: #1c1c24;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: contain;
}

button {
    border: none;
    outline: none;
}

input, textarea {
    background: transparent;
}

a, img, button, input, label, textarea, select {
    padding: 0;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
}

.content-container {
    width: 990px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
} 

.title {
    color: #79D861;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 4px;
}

.heading-large {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 115.625%;

    @include screen(md) {
        font-size: 3.5rem;
        line-height: 40px;
        width: 100%;
    }
}

.heading-medium {
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 129.412%;

    @include screen(md) {
        font-size: 3rem;
        line-height: 38px;
    }
}

.heading-small {
    font-size: 2rem;
    font-weight: 500;
    line-height: 26.04px;

    @include screen(md) {
        font-size: 1.4rem;
        line-height: 18.23px;
    }
}

.desc {
    color: var(--text-color);
    line-height: 150%;

    @include screen(md) {
        font-size: 1.2rem;
        line-height: 18px;
    }
}

.btn {
    width: 212px;
    height: 58px;
    border-radius: 8px;
    background: var(--primary-color);
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        opacity: .9;
    }

    @include screen(md) {
        width: 160px;
        height: 48px;
    }
}

.container-section {
    width: 990px;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}