$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);


@mixin screen($key) {
    $breakpoint: map-get($grid-breakpoints, $key);

    @if ($breakpoint) {
        @media (max-width: ($breakpoint - .02)) {
            @content;
        }
    }

    @else {
        @error "The value #{$key} is not in breakpoints list.";
    }
}

.header {

    &__container {
        --grid-gutter-x: 40px;
    }
}

.top-bar {
    padding: var(--top-bar-padding) 0;
    height: var(--top-bar-heigth);
    display: flex;
    align-items: center;

    @include screen(xxl) {
        justify-content: space-between;
    }

    @include screen(md) {
        justify-content: normal;
    }
}

.logo {
    font-size: 2.8rem;
    font-weight: 500;
    margin-right: 295px;

    @include screen(xxl) {
        margin-right: 0;
    }

    @include screen(md) {
        font-size: 1.7rem;
    }
}

.bars {
    width: 18px;
    height: 16px;
    margin-left: 15px;
    background: transparent;
}

.drawer {
    position: fixed;
    top: var(--top-bar-heigth);
    left: 0;
    right: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);

    @include screen(md) {
        overflow-y: auto;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.nav {

    &__list {
        display: flex;

        @include screen(md) {
            display: block;
        }
    }

    &__item {
        position: relative;

        &:hover .subnav,
        &:hover .subnav-company {
            display: block;
        }

        &:hover > .nav__link {
            &:hover {
                filter: brightness(0) saturate(100%) invert(59%) sepia(82%) saturate(1990%) hue-rotate(320deg) brightness(94%) contrast(110%);
            }
        }
    }

    &__link {
        color: var(--text-color);
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0 20px;
        transition: color .3s;

        @include screen(md) {
            padding: 7.5px 20px;
            width: 100%;
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 28px; /* 175% */
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        gap: 4px;   
    }
}

// Subnav Products section
.subnav {
    display: none;
    padding-top: 20px;
    left: -41px;
    position: absolute;
    
    @include screen(lg) {
        left: calc(-100% - 15px);
    }

    @include screen(md) {
        position: static;
        margin-left: 15px;
        padding-top: 0;
    }

    &__inner {
        padding: 40px 38px 40px 45px;
        width: 730px;
        border-radius: 25px;
        background: #292932;

        @include screen(md) {
            padding: 30px 0;
            border-radius: 10px;
            margin-right: 20px;
            width: auto;
        }
    }

    &__wrap {
        display: flex;
        gap: 89px;

        @include screen(md) {
            display: block;
        }

        &:nth-child(1) {
            padding-bottom: 25px;
            border-bottom: 1px solid #555;
        }

        &:nth-child(2) {
            padding-top: 30px;
        }

        &:nth-child(2) .subnav__title-img {
            filter: brightness(0) saturate(100%) invert(34%) sepia(78%) saturate(3441%) hue-rotate(209deg) brightness(102%) contrast(101%);
        }

        &:nth-child(1) .subnav__group {
            column-gap: 73px;
        }

        &:nth-child(2) .subnav__group {
            column-gap: 110px;
        }
    }

    &__title {
        display: flex;
        align-items: flex-start;
        gap: 10px;

        @include screen(md) {
            align-items: center;
        }

        &-img {
            width: 30px;
            height: 27px;
        }

        &-text {
            font-size: 2.5rem;
            font-weight: 700;
        }
    }

    &__group {
        display: flex;

        @include screen(md) {
            margin-top: 30px;
            margin-left: 30px;
            display: grid;
            gap: 30px;
            
        }

        &-heading {
            padding-bottom: 5px;
            font-weight: 500;
        }
    }

    &__link{
        display: inline-block;
        color: #B0B0B0;
        padding: 5px 0;
        width: 100%;

        &:hover {
            color: #fff;
        }
    }

    // Subnav company section
    &-company {
        display: none;
        position: absolute;
        left: 20px;
        padding-top: 20px;

        @include screen(md) {
            padding: 0 20px;
            position: static;
        }

        &__inner {
            width: 183px;
            border-radius: 5px;
            background: #292932;
            padding: 16px 15px 24px;
        }

        &__link {
            display: inline-block;
            padding: 8px 15px;
            width: 100%;
            color: var(--text-color);

            &:hover {
                border-radius: 5px;
                background: #1E75FF;
                color: #fff;
            }
        }
    }
}

.act {
    margin-left: auto;
    display: flex;
    gap: 16px;

    @include screen(xxl) {
        margin-left: 0;
    }

    @include screen(md) {
        margin-left: auto;
    }


    &__btn {
        width: 108px;
        height: var(--act-heigth);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 150%;

        @include screen(md) { 
            width: 78px;
            border-radius: 5px;
            font-size: 1rem;
            line-height: 13px; /* 130% */
        }

        &--active {
            background: transparent;
            border: 1px solid rgba(252, 90, 90, .2);
        }
    }
}

// Hero section
.hero {
    padding-top: 56px;
    padding-bottom: 80px;

    @include screen(lg) {
        padding-bottom: 130px;
    }

    @include screen(md) {
        padding-top: 10px;
        
    }

    // Body
    &__body {
        display: flex;
        gap: 56px;

        @include screen(lg) {
            flex-direction: column;
            align-items: center;
            gap: 35px;
        }

        @include screen(sm) {
            align-items: normal;
        }
    }

    // Left
    &__left {
        position: relative;

        @include screen(sm) {
            width: 100%;
        }

        &-heading {
            width: 522px;

            @include screen(sm) {
                width: 100%;
            }
        }
    
        &-desc {
            width: 368px;
            margin-top: 12px;
            margin-bottom: 40px;

            @include screen(md) {
                width: 236px;
                margin: 20px 0;
            }
        }
    }

    // Menu
    &__menu {
        width: 34px;
        height: 345px;
        position: absolute;
        left: -165px;
        bottom: 0;
    }

    &__network {
        width: 100%;
        margin-bottom: 32px;

        &-link {
            margin-top: 12px;
            display: inline-block;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__wrap {
        display: flex;
        width: 34px;
        height: 34px;
        border: 1px solid #ff974a4d;
        border-radius: 50%;

        &:hover {
            background: #FF974A;
        }

        &:hover .hero__icon {
            filter: brightness(0) saturate(100%) invert(14%) sepia(12%) saturate(0%) hue-rotate(219deg) brightness(97%) contrast(100%);
        }
    }

    &__icon {
        margin: auto;
    }

    &__inner {
        position: absolute;
        display: inline-flex;
        align-items: center;
        gap: 20px;
        transform: rotate(270deg);
        left: 50%;
        translate: -50%;
        top: 231px;


        &-text {
            display: inline-block;
            width: 152px;
            line-height: 15.62px;
            font-weight: 500;
            font-size: 1.2rem;
            letter-spacing: 6px;
            color: #D2EFFF;
        }

        &-arrow {
            transform: rotate(90deg);
        }
   
    }

    // Right
    &__right {
        position: relative;
        margin-top: 63px;

        @include screen(lg) {
            margin-left: -185px;
        }

        @include screen(sm) {
            margin-left: 0;
        }
    }

    %po-absolute {
        position: absolute;
    }

    // Images
    &__images {
        position: relative;
        width: var(--hero-width-icon);

        &-icon { 
            &-1 {
                width:  var(--hero-width-icon);
                height: 258px;


                @include screen(md) {
                    height: 190px;
                }
            }
            &-2 {
                @extend %po-absolute;
                bottom: 38px;
                left: calc(100% + 3px);
                width: 56px;
                height: 35px;
                
                @include screen(md) {
                    width: 40px;
                    height: 25px;
                    bottom: 28px;
                    left: calc(100% + 2px);
                }
            }
            &-3 {
                @extend %po-absolute;
                left: 104px;
                bottom: calc(100% + 13px);
                width: 56px;
                height: 35px;
                
                @include screen(md) {
                    width: 40px;
                    height: 25px;
                    left: 78px;
                    bottom: calc(100% + 9px);
                }
            }
            &-4 {
                @extend %po-absolute;
                top: 133px;
                left: calc(100% + 104px);

                @include screen(md) {
                    width: 63px;
                    height: 63px;
                        top: 98px;
                        left: calc(100% + 78px);
                }
            }
        }
        
        &-img-1 {
            @extend %po-absolute;
            width: 248px;
            height: 250px;
            top: -78px;
            right: -174px;
            z-index: 1;
            border-radius: 8px;

            @include screen(md) {
                width: 183px;
                height: 184px;
                top: -58px;
                right: -128px;
            }
        }
    }

    // Form
    &__form {
        position: absolute;
        top: calc(100% - 12px);

        @include screen(lg) {
            top: calc(100% + 48px);
        }

        @include screen(lg) {
            top: calc(100% + 30px);
        }

        &-input {
            width: 390px;
            height: 66px;
            background: #292932;
            border-radius: 8px;
            padding-left: 26px;
            color: #B0B0B0;
            line-height: 16.94px;

            font: {
                weight: 500;
                size: 1.4rem;
            }

            @include screen(md) {
                width: 307px;
                height: 49px;
                padding-left: 19px;
                line-height: 12.5px;
                font-size: 1rem;
            }
        }

        %above-center {
            top: 50%;
            translate: 0 -50%;
        }

        &-icon {
        
            &-1 {
                right: 108px;

                @extend %po-absolute;
                @extend %above-center;

                @include screen(md) {
                    right: 80px;
                    width: 12px;
                    height: 12px;
                }
            }
            &-2 {
                right: 72px;

                @extend %po-absolute;
                @extend %above-center;

                @include screen(md) {
                    right: 53px;
                    width: 12px;
                    height: 12px;
                }
            }
        }

        &-wrap {
            display: flex;
            width: 36px;
            height: 36px;
            background: #FC5A5A;
            right: 16px;
            border-radius: 50%;
    
            @extend %po-absolute;
            @extend %above-center;

            @include screen(md) {
                width: 27px;
                height: 27px;
            }

            &-icon {
                margin: auto;
                width: 12px;
                height: 12px;

                @include screen(md) {
                    width: 9px;
                    height: 9px;
                }
            }
        }
    }
}

// Feature-01 section
.feature-01 {
    padding: 80px 0;

    @include screen(md) {
        padding: 35px 0;
    }

    &__body {
        display: flex;
        gap: 95px;

        @include screen(lg) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &-images {
        position: relative;
        
        &-icon {
            
            &-1 {
                width: 516px;
                height: 436px;
                translate: -100px;

                @include screen(xl) {
                    translate: 0;
                }

                @include screen(lg) {
                    width: 315px;
                    height: 267px;
                }
            }

            &-2 {
                position: absolute;
                width: 204px;
                height: 204px;
                top: -43px;
                left: -132px;

                @include screen(xl) {
                    left: -32px;
                }

                @include screen(lg) {
                    width: 125px;
                    height: 125px;
                    top: -26px;
                    left: -20px;
                }
            }
        }
    }

    &__right {
        width: 379px;
        flex-shrink: 0;

        @include screen(lg) {
            width: 520px;
        }

        @include screen(md) {
            width: 100%;
        }

        &-heading {
            margin-top: 8px;
            width: 282px;
            margin-bottom: 20px;
        }

        &-desc {
            margin-top: 28px;
            margin-bottom: 48px;
        }
    }
}

// Service-01 section
.service-01 {
    padding: 80px 0;

    @include screen(md) {
        padding: 35px 0;
    }
    
    &__heading {
        margin-top: 8px;
        margin-bottom: 64px;
        width: 409px;
        
        @include screen(md) {
            width: 100%;
            margin-bottom: 40px;
        }
    }

    &__row {
        --grid-gutter-y: 40px;
        --grid-gutter-x: 28px;  

        @include screen(lg) {
            --grid-gutter-y: 30px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 37px 28px;
        gap: 24px;
        background: #1c1c24;
        border: 1px solid #292932;
        height: 100%;
        border-radius: 8px;
        transition: .3s;

        &:hover {
            background: #292932;
        }

        &:hover .service-01__wrap {
            background: #FC5A5A;
        }
    }

    &__wrap {
        display: flex;
        width: 96px;
        height: 96px;
        background: #292932;
        flex-shrink: 0;
        border-radius: 10px;
        transition: .3s;

        @include screen(md) {
            width: 71px;
            height: 71px;
        }

        &-icon {
            width: 44px;
            height: 44px;
            margin: auto;

            @include screen(md) {
                width: 33px;
                height: 33px;
            }
        }
    }

    &__inner {

        &-heading {
            margin-bottom: 8px;
        }
    }
}

// Feature-02 section
.feature-02 {
    padding: 80px 0;

    @include screen(md) {
        padding: 35px 0;
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        text-align: center;
    }

    &__body {
        display: flex;
        margin-top: 83px;
        justify-content: space-between;

        @include screen(lg) {
            flex-direction: column;
            gap: 40px;
            align-items: center;
        }

        @include screen(md) {
            gap: 30px;
        }
    }

    &__left {

        &-list {
            display: flex;
            justify-content: space-between;
            margin-bottom: 41px;
        }

        &-group {
            width: 126px;
            height: 98px;
            position: relative;
            background: #D2EFFF;
            border-radius: 10px;
            text-align: center;
            padding: 22px 0 11px;
            color: #000;

            @include screen(md) {
                width: 111px;
                height: 86px;
                padding: 19px 0 9px;
            }

            &:nth-of-type(1) {
                background: #F6FF82;
            }
        }

        &-curr {
            width: 186px;
            height: 150px;
            background: #DCB0FF;
            margin: 0 auto;
            padding: 47px 0 15px;

            @include screen(md) {
                width: 163px;
                height: 132px;
                padding: 41px 0 13px;
            }

            &-wrap {
                background: #1C1C24;
                display: flex;
                border-radius: 4px;
                position: absolute;
                translate: -50%;
                left: 50%;
                top: -28px;
                width: 52px;
                height: 52px;

                @include screen(md) {
                    width: 46px;
                    height: 46px;
                }

                &-icon {
                    margin: auto;
                }
            }

            &-visits {
                display: block;
                line-height: 16.94px;
                font: {
                    weight: 500;
                    size: 1.4rem;
                }

                @include screen(md) {
                    font-size: .9rem;
                    line-height: 10.63px;
                }
            }

            &-number {
                line-height: 31.47px;
                margin: 2px 0 4px;
                font: {
                    weight: 600;
                    size: 2.6rem;
                }
            }

            &-text {
                margin: 0 auto;
                width: 121px;
                line-height: 16.94px;
                font-size: 1.4rem;
            }
        }

        &-wrap {
            width: 40px;
            height: 40px;
            background: #1C1C24;
            display: flex;
            border-radius: 4px;
            position: absolute;
            translate: -50%;
            left: 50%;
            top: -28px;

            @include screen(md) {
                width: 35px;
                height: 35px;
            } 

            &-icon {
                margin: auto;

                @include screen(md) {
                    width: 18px;
                    height: 18px;
                } 
            }
        }

        &-visits {
            display: block;
            line-height: 12.1px;
            font: {
                weight: 500;
                size: 1rem;
            }

            @include screen(md) {
                font-size: .9rem;
                line-height: 10.63px;
            }
        }

        &-number {
            display: inline-block;
            line-height: 24.2px;
            margin: 4px 0 1px;
            font: {
                weight: 600;
                size: 2rem;
            }

            @include screen(md) {
                margin: 3px 0 1px;
            }
        }

        &-text {
            margin: 0 auto;
            line-height: 12.1px;
            width: 84px;
            font: {
                size: 1rem;
            }

            @include screen(md) {
                font-size: .9rem;
                line-height: 10.63px;
            }
        }
    }

    &__inner {
        width: 426px;
        height: 377px;
        background: #292932;
        border-radius: 8px;
        padding: 58px 40px 30px;

        @include screen(md) {
            width: 335px;
            height: 331px;
            padding: 51px 15px 26px;
        }

        &--padding {
            padding: 32px 26px;

            @include screen(md) {
                width: 335px;
                height: 296px;
                padding: 25px 21px 26px;
            }
        }
    }
    
    &__right {
        
        &-list {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            gap: 20px;
        }
        
        &-group {
            display: flex;
            width: 274px;
            height: 91px;
            border-radius: 6px;
            padding: 25px 24px 26px;
            gap: 18px;
            position: relative;

            @include screen(md) {
                width: 216px;
                height: 72px;
                padding: 19px 19px 20px;

            }

            &:nth-child(1) {
                background: #FF974A;
            }
            &:nth-child(2) {
                background: #79D861;
            }
            &:nth-child(3) {
                background: #1E75FF;
            }
            
            &--active {
                align-self: flex-start;
            }

            &-status {
                display: inline-block;
                font-size: 1.4rem;
                margin-bottom: 8px;
                font-weight: 600;
                line-height: 16.79px;

                @include screen(md) {
                    font-size: 1.1rem;
                    line-height: 13.21px;
                    margin-bottom: 6px; 
                }
            }

            &-text {
                line-height: 14px;
                font: {
                    weight: 500;
                    size: 1.2rem;
                }

                @include screen(md) {
                    font-size: .9rem;
                    line-height: 11.01px;
                }
            }
        }

        &-wrap {
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fff;

            @include screen(md) {
                width: 32px;
                height: 32px;
            }

            &-icon {
                margin: auto;
            }
        }

        &-icon {
            position: absolute;
            top: 17px;
            right: 18px;

            @include screen(md) {
                top: 13px;
                right: 14px;
            }
        }
    }
}