<div class="container-section">
    <div class="heading-small footer__text">Standards & Technology Trusted By:</div>
    <!-- Inner -->
    <div class="footer__inner">
        <!-- Group 1 -->
        <div class="footer__group">
            <img loading="lazy" src="./assets/icons/foooter/footer-1.svg" alt="" class="footer__group-img">
        </div>
        <!-- Group 2 -->
        <div class="footer__group">
            <img loading="lazy" src="./assets/icons/foooter/footer-2.svg" alt="" class="footer__group-img">
        </div>
        <!-- Group 3 -->
        <div class="footer__group">
            <img loading="lazy" src="./assets/icons/foooter/footer-3.svg" alt="" class="footer__group-img">
        </div>
        <!-- Group 4 -->
        <div class="footer__group">
            <img loading="lazy" src="./assets/icons/foooter/footer-4.svg" alt="" class="footer__group-img">
        </div>
        <!-- Group 5 -->
        <div class="footer__group">
            <img loading="lazy" src="./assets/icons/foooter/footer-5.svg" alt="" class="footer__group-img">
        </div>
    </div>

    <!-- Content -->
    <div class="footer__content">
        <!-- Body -->
        <div class="footer__body">
            <!-- Left -->
            <section class="footer__left">
                <h2 class="heading-medium">Should we design your first popup?</h2>
                <p class="desc footer__desc">Pick a template, customize as you need, and integrate with your other
                    marketing tools.</p>
                <button class="btn">Start your free trial</button>
            </section>
            <!-- Right -->
            <div class="footer__right">
                <img loading="lazy" class="footer__right-img" src="./assets/images/footer-1.png" alt="">
            </div>
        </div>
        <img loading="lazy" class="footer__icon d-lg-none" src="./assets/icons/foooter/footer-6.svg" alt="">
    </div>
</div>

<div class="container">
    <!-- Menu -->
    <div class="footer__menu">
        <div class="footer__menu-logo">Togi</div>

        <ul class="footer__menu-list">
            <li class="footer__menu-item">Product</li>
            <li class="footer__menu-item">Resources</li>
            <li class="footer__menu-item">About</li>
            <li class="footer__menu-item">Help</li>
        </ul>
        <span class="footer__menu-text">© 2022 UIHUT | All Right Reserved</span>
    </div>
</div>