<div class="container header__container">
    <div class="top-bar">
        <!-- Logo -->
        <h2 class="logo">Togi</h2>

        <!-- Bars -->
        <button class="bars d-none d-md-block js-toggle" toggle-target="#drawerjs">
            <img src="./assets/icons/top-bar/arrow.svg" alt="" class="bars__img">
        </button>

        <!-- Drawer -->
        <div id="drawerjs" class="drawer hide">
            <!-- Navber -->
            <nav class="drawer__nav">
                <!-- List -->
                <ul class="nav__list">
                    <!-- Item 1 -->
                    <li class="nav__item">
                        <a href="#!" class="nav__link nav__arrow">
                            Products
                            <img src="./assets/icons/top-bar/arrow.svg" alt="">
                        </a>
                        <!-- Subnav -->
                        <nav class="subnav">
                            <!-- Inner -->
                            <div class="subnav__inner">

                                <!-- Subnav wrap 1 -->
                                <div class="subnav__wrap">
                                    <div class="subnav__title">
                                        <img class="subnav__title-img" src="./assets/icons/top-bar/folder.svg" alt="">
                                        <h2 class="subnav__title-text">Dyspatch</h2>
                                    </div>
                                    <!-- Group -->
                                    <div class="subnav__group">
                                        <!-- List 1 -->
                                        <ul class="subnav__list">
                                            <!-- Item 1 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Overview</a>
                                            </li>
                                            <!-- Item 2 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">No-code email builder</a>
                                            </li>
                                            <!-- Item 3 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Email collaboration</a>
                                            </li>
                                        </ul>
                                        <!-- List 2 -->
                                        <ul class="subnav__list">
                                            <!-- Item 1 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Interactive email</a>
                                            </li>
                                            <!-- Item 2 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Template localization</a>
                                            </li>
                                            <!-- Item 3 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Expert services</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Subnav wrap 2 -->
                                <div class="subnav__wrap">
                                    <div class="subnav__title">
                                        <img class="subnav__title-img" src="./assets/icons/top-bar/folder.svg" alt="">
                                        <h2 class="subnav__title-text">Dyspatch</h2>
                                    </div>
                                    <!-- Group -->
                                    <div class="subnav__group">
                                        <!-- List 1 -->
                                        <ul class="subnav__list">
                                            <h3 class="subnav__group-heading">By use case</h3>
                                            <!-- Item 1 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Product reviews</a>
                                            </li>
                                            <!-- Item 2 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Surveys</a>
                                            </li>
                                            <!-- Item 3 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Add to cart</a>
                                            </li>
                                            <!-- Item 4 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Calendar booking</a>
                                            </li>
                                            <!-- Item 5 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Product carousel</a>
                                            </li>
                                            <!-- Item 6 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Interactive polls</a>
                                            </li>
                                        </ul>

                                        <!-- List 2 -->
                                        <ul class="subnav__list">
                                            <h3 class="subnav__group-heading">By Vertical</h3>
                                            <!-- Item 1 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Saas</a>
                                            </li>
                                            <!-- Item 2 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Ecommerce</a>
                                            </li>
                                            <!-- Item 3 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Fintech</a>
                                            </li>
                                            <!-- Item 4 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Travel</a>
                                            </li>
                                            <!-- Item 5 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">Healthcare</a>
                                            </li>
                                            <!-- Item 6 -->
                                            <li class="subnav__item">
                                                <a href="#!" class="subnav__link">On-demand services</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </li>

                    <!-- Item 2 -->
                    <li class="nav__item">
                        <a href="#!" class="nav__link">Pricing</a>
                    </li>

                    <!-- Item 3 -->
                    <li class="nav__item">
                        <a href="#!" class="nav__link nav__arrow">
                            Company
                            <img src="./assets/icons/top-bar/arrow.svg" alt="">
                        </a>
                        <!-- Subnav Company section -->
                        <nav class="subnav-company">
                            <div class="subnav-company__inner">
                                <!-- List -->
                                <ul class="subnav-company__list">
                                    <!-- Iiem 1 -->
                                    <li class="subnav-company__item">
                                        <a href="#!" class="subnav-company__link">Careers</a>
                                    </li>
                                    <!-- Iiem 2 -->
                                    <li class="subnav-company__item">
                                        <a href="#!" class="subnav-company__link">About</a>
                                    </li>
                                    <!-- Iiem 3 -->
                                    <li class="subnav-company__item">
                                        <a href="#!" class="subnav-company__link">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </li>

                    <!-- Item 4 -->
                    <li class="nav__item">
                        <a href="#!" class="nav__link">Blog</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Navber -->
        <nav class="nav d-md-none">
            <!-- List -->
            <ul class="nav__list">
                <!-- Item 1 -->
                <li class="nav__item">
                    <a href="#!" class="nav__link nav__arrow">
                        Products
                        <img src="./assets/icons/top-bar/arrow.svg" alt="">
                    </a>
                    <!-- Subnav -->
                    <nav class="subnav">
                        <!-- Inner -->
                        <div class="subnav__inner">

                            <!-- Subnav wrap 1 -->
                            <div class="subnav__wrap">
                                <div class="subnav__title">
                                    <img class="subnav__title-img" src="./assets/icons/top-bar/folder.svg" alt="">
                                    <h2 class="subnav__title-text">Dyspatch</h2>
                                </div>
                                <!-- Group -->
                                <div class="subnav__group">
                                    <!-- List 1 -->
                                    <ul class="subnav__list">
                                        <!-- Item 1 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Overview</a>
                                        </li>
                                        <!-- Item 2 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">No-code email builder</a>
                                        </li>
                                        <!-- Item 3 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Email collaboration</a>
                                        </li>
                                    </ul>
                                    <!-- List 2 -->
                                    <ul class="subnav__list">
                                        <!-- Item 1 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Interactive email</a>
                                        </li>
                                        <!-- Item 2 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Template localization</a>
                                        </li>
                                        <!-- Item 3 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Expert services</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Subnav wrap 2 -->
                            <div class="subnav__wrap">
                                <div class="subnav__title">
                                    <img class="subnav__title-img" src="./assets/icons/top-bar/folder.svg" alt="">
                                    <h2 class="subnav__title-text">Dyspatch</h2>
                                </div>
                                <!-- Group -->
                                <div class="subnav__group">
                                    <!-- List 1 -->
                                    <ul class="subnav__list">
                                        <h3 class="subnav__group-heading">By use case</h3>
                                        <!-- Item 1 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Product reviews</a>
                                        </li>
                                        <!-- Item 2 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Surveys</a>
                                        </li>
                                        <!-- Item 3 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Add to cart</a>
                                        </li>
                                        <!-- Item 4 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Calendar booking</a>
                                        </li>
                                        <!-- Item 5 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Product carousel</a>
                                        </li>
                                        <!-- Item 6 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Interactive polls</a>
                                        </li>
                                    </ul>

                                    <!-- List 2 -->
                                    <ul class="subnav__list">
                                        <h3 class="subnav__group-heading">By Vertical</h3>
                                        <!-- Item 1 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Saas</a>
                                        </li>
                                        <!-- Item 2 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Ecommerce</a>
                                        </li>
                                        <!-- Item 3 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Fintech</a>
                                        </li>
                                        <!-- Item 4 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Travel</a>
                                        </li>
                                        <!-- Item 5 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">Healthcare</a>
                                        </li>
                                        <!-- Item 6 -->
                                        <li class="subnav__item">
                                            <a href="#!" class="subnav__link">On-demand services</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </li>

                <!-- Item 2 -->
                <li class="nav__item">
                    <a href="#!" class="nav__link">Pricing</a>
                </li>

                <!-- Item 3 -->
                <li class="nav__item">
                    <a href="#!" class="nav__link nav__arrow">
                        Company
                        <img src="./assets/icons/top-bar/arrow.svg" alt="">
                    </a>

                    <!-- Subnav Company section -->
                    <nav class="subnav-company">
                        <div class="subnav-company__inner">
                            <!-- List -->
                            <ul class="subnav-company__list">
                                <!-- Iiem 1 -->
                                <li class="subnav-company__item">
                                    <a href="#!" class="subnav-company__link">Careers</a>
                                </li>
                                <!-- Iiem 2 -->
                                <li class="subnav-company__item">
                                    <a href="#!" class="subnav-company__link">About</a>
                                </li>
                                <!-- Iiem 3 -->
                                <li class="subnav-company__item">
                                    <a href="#!" class="subnav-company__link">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </li>

                <!-- Item 4 -->
                <li class="nav__item">
                    <a href="#!" class="nav__link">Blog</a>
                </li>
            </ul>
        </nav>

        <!-- Action -->
        <div class="act">
            <button class="btn act__btn act__btn--active d-lg-none">Log in</button>
            <button class="btn act__btn">Get Started</button>
        </div>
    </div>
</div>